
<div id="main-wrapper">
  <div class="d-lg-flex position-relative h-100">
    <a class="circle bg-white text-primary border square--40 position-absolute top-0 end-0 mt-3 me-3" href="index.html" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Back to home" data-bs-original-title="Back to home"><i class="fa-solid fa-house-user"></i></a>

    <!-- Signup Form -->
    <div class="d-flex flex-column align-items-center w-50 h-100 px-4 px-md-5 py-5">
      <div class="w-100 mt-auto py-4 px-xl-4 px-lg-3">
        <div class="d-flex mb-3">
          <img src="assets/img/logo.png" class="img-fluid" width="120" alt="logo">
        </div>

        <h1 class="fs-1">Create An Account</h1>
        <p class="pb-3 mb-3 mb-lg-4">Welcome Back! Slect Methode to Register:</p>
        <form class="frms-validation">

          <div class="row row-cols-1 row-cols-sm-2">
            <div class="col mb-4">
              <input class="form-control lg" type="text" placeholder="Your name" required="">
            </div>
            <div class="col mb-4">
              <input class="form-control lg" type="email" placeholder="Email address" required="">
            </div>
          </div>

          <div class="mb-4 position-relative">
            <input class="form-control lg" type="password" name="password" placeholder="Password" required="">
          </div>

          <div class="mb-4 position-relative">
            <input class="form-control lg" type="password" id="password-field" name="password" placeholder="Confirm Password" required="">
            <span class="fa-solid fa-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3"></span>
          </div>

          <div class="pb-3">
            <div class="d-flex flex-wrap align-items-center justify-content-between pb-4">
              <form-check class="my-1">
                <input class="form-check-input" type="checkbox" id="keep-signedin">
                <label class="form-check-label ms-1" for="keep-signedin">I agree to <a href="#">Terms & Conditions</a></label>
              </form-check>
            </div>
          </div>

          <button class="btn btn-lg btn-primary w-100" type="submit">Sign Up</button>

          <h2 class="h6 font--medium text-muted text-center py-4">Or sign in with your social account</h2>

          <div class="row row-cols-1 row-cols-sm-2 gy-3">
            <div class="col"><a class="btn btn--googleplus w-100 font--medium" href="#"><i class="fa-brands fa-google-plus-g me-2"></i>Google</a></div>
            <div class="col"><a class="btn btn--facebook w-100 font--medium" href="#"><i class="fa-brands fa-facebook me-2"></i>Facebook</a></div>
          </div>

          <p class="pt-4 text-center"><span class="text-muted">Have an account already?</span> <a class="text-primary font--medium" href="login.html" target="_blank">Login Your Account</a></p>

        </form>
      </div>
    </div>

    <div class="w-50 bg-cover bg-repeat-0 bg-position-center" style="background-image: url(https://placehold.co/1200x800);"></div>