<div class="clearfix"></div>
<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero-header bg-white">
  <div class="container">

    <div class="row justify-content-between align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="d-block position-relative wow animated fadeInLeft">
          <h1 class="mb-4">Yeni nesil <span class="text-info">Instagram</span> Çekiliş Aracı</h1>
          <p class="fs-5 fw-light fs-mob">Yapay zeka desteği ile gerçek çekilişler yapmanın keyfini çıkarın</p>
          <div class="features-groupss mt-4 mb-2">
            <ul class="row gx-3 gy-4 p-0">
              <li class="font--medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Gerçek Kullanıcılar</li>
              <li class="font--medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Gerçek Beğeniler</li>
              <li class="font--medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Gerçek Hesaplar</li>
              <li class="font--medium col-xl-6 col-lg-6 col-6"><span class="square--30 circle d-inline-flex align-items-center justify-content-center text-success bg-light-success me-2"><i class="fa-solid fa-check"></i></span>Hızlı Sonuçlar</li>
            </ul>
          </div>
          <div class="position-relative mt-xl-5 mt-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="search-from-clasic mt-5 mb-3 wow animated fadeInUp">
                <div class="hero-search-content border shadow">
                  <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                      <div class="classic-search-box">
                        <div class="form-group full">
                          <div class="input-with-icon">
                            <input type="text" class="form-control" placeholder="Instagram Post Linki" id="raffle_link_input" autocomplete="off">
                            <i class="fab fa-instagram fs-6 opacity-75"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                      <div class="form-group">
                        <button type="submit" class="btn btn-dark full-width" id="raffle_submit_button">Çekiliş Yap</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="position-relative wow animated fadeInRight mt-md-0 mt-4">
          <img src="/public/img/header.png" class="img-fluid" alt="infograpgy">
        </div>
      </div>

    </div>

  </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Our Services Start ================================== -->
<section class="gray">
  <div class="container">

    <div class="row align-items-center justify-content-center">
      <div class="col-xl-7 col-lg-7 col-md-11 mb-3">
        <div class="sec-heading text-center wow animated fadeInDown">
          <div class="label text-success bg-light-success d-inline-flex rounded-4 mb-2 font--medium"><span>wiwers</span></div>
          <h2 class="mb-1">Özelliklerimiz</h2>
          <p class="test-muted fs-6">Instagram çekiliş yapmanın yeni yolu.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center g-4">

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card border-0 rounded-4 p-xl-5 p-4 wow animated fadeInUp">
          <div class="position-relative mb-3">
            <div class="bg-light-primary flex-row text-primary rounded-3 d-inline-flex px-4 py-4">
              <i class="fa-solid fa-user fs-2"></i>
            </div>
          </div>
          <div class="crd-srv mb-3">
            <h4 class="font--bold mb-2">Gerçek Kullanıcılar</h4>
            <p class="mb-0">Yapay zeka yardımı ile gerçek kullanıcılar tespit edilir.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card border-0 rounded-4 p-xl-5 p-4 wow animated fadeInUp">
          <div class="position-relative mb-3">
            <div class="bg-light-primary flex-row text-primary rounded-3 d-inline-flex px-4 py-4">
              <i class="fa-solid fa-comment fs-2"></i>
            </div>
          </div>
          <div class="crd-srv mb-3">
            <h4 class="font--bold mb-2">Gerçek Yorumlar</h4>
            <p class="mb-0">Yorumlar analiz edilir ve herkesin tek yorumu geçerli olur..</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card border-0 rounded-4 p-xl-5 p-4 wow animated fadeInUp">
          <div class="position-relative mb-3">
            <div class="bg-light-primary flex-row text-primary rounded-3 d-inline-flex px-4 py-4">
              <i class="fa-solid fa-check fs-2"></i>
            </div>
          </div>
          <div class="crd-srv mb-3">
            <h4 class="font--bold mb-2">Hızlı Sonuçlar</h4>
            <p class="mb-0">Sonuçkar 1 dakikadan daha kısa süre içerisinde gerçekleşir. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>
<!-- ============================ Help & Support Start ================================== -->
<section class="position-relative">
  <div class="position-absolute top-0 start-0 end-0 gray-simple ht-500"></div>
  <div class="container position-relative z-1">

    <div class="row align-items-center justify-content-center">
      <div class="col-xl-7 col-lg-7 col-md-11 mb-3">
        <div class="sec-heading text-center">
          <div class="label text-success bg-light-success d-inline-flex rounded-4 mb-2 font--medium"><span>wiwers</span></div>
          <h2 class="mb-1">Nasıl Çekiliş Yapılır</h2>
          <p class="test-muted fs-6">Kolaylıkla çekiliş yapabilmeniz için işte size bir rehber</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card rounded-5 bg-cover border-0 d-flex align-items-center justify-content-center wow animated fadeInUp" style="background:url(https://placehold.co/1500x1300)no-repeat;">
          <div class="ht-130"></div>
          <div class="ht-170 d-lg-block d-none"></div>
          <a href="#" class="square--80 circle bg-white shadow">
									<span class="svg-icon text-primary svg-icon-2hx">
										<svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M16.9 10.7L7 5V19L16.9 13.3C17.9 12.7 17.9 11.3 16.9 10.7Z" fill="currentColor"/>
										</svg>
									</span>
          </a>
          <div class="ht-130"></div>
          <div class="ht-170 d-lg-block d-none"></div>
        </div>
      </div>
    </div>

  </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Help & Support Start ================================== -->

<!-- ============================ Our Services End ================================== -->
<script>
  $(document).ready(function(){
    const urlParams = new URLSearchParams(window.location.search);
    const registerParam = urlParams.get('register');

    if (registerParam === 'success') {
      Swal.fire({
        icon: 'success',
        title: 'Başarılı!',
        text: 'Kayıt işleminiz başarıyla gerçekleşti. Giriş yapabilirsiniz.',
        showConfirmButton: false,
        timer: 3000
      })
      setTimeout(() => {
        window.location.href = '/'
      }, 3000);
    }

    // Get Raffle Page

    $('#raffle_submit_button').on('click', function(){
      var instagram_link = $('#raffle_link_input').val();
      var pattern = /\/p\/(.*?)\//;

      const mathc = instagram_link.match(pattern);
      if (mathc){
        window.location.href = '/raffle/' + mathc[1];
      }
    })

  })
</script>